{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/keen-dashboards.css' %}">
        <link rel="stylesheet" href="{% static 'css/dc.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endblock extra_css %}

    <div class="application">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">Donorschoose Dashboard</a>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-6">
                    <div class="row">

                        <!-- Time Chart -->
                        <div class="col-sm-12">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Number of Donations
                                </div>
                                <div class="chart-stage">
                                    <div id="time-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Time Chart -->

                        <!-- Resources Pie -->
                        <div class="col-sm-6">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Resources Type
                                </div>
                                <div class="chart-stage">
                                    <div id="resource-type-row-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Resources Pie -->

                        <!-- Poverty Pie -->
                        <div class="col-sm-6">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Poverty Level
                                </div>
                                <div class="chart-stage">
                                    <div id="poverty-level-row-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Poverty Pie -->

                    </div>
                </div>

                <!-- Map -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Distribution of Donations
                        </div>
                        <div class="chart-stage" id="map-chart-container">
                            <div id="us-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Map -->

                <!-- Metric 1 -->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Donations
                        </div>
                        <div class="chart-stage">
                            <div id="number-projects-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 1 -->

                <!-- Metric 2 -->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Donations in USD
                        </div>
                        <div class="chart-stage">
                            <div id="total-donations-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 2 -->

            </div>

        </div>

        <hr>
        <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

    </div>

    {% block extra_js %}
        <script src="{% static 'js/lib/lodash.js' %}"></script>

        <script src="{% static 'js/lib/crossfilter.js' %}"></script>
        <script src="{% static 'js/lib/d3.js'          %}"></script>
        <script src="{% static 'js/lib/dc.js'          %}"></script>
        <script src="{% static 'js/lib/queue.js'       %}"></script>
        <script src="{% static 'js/lib/keen.js'        %}"></script>
        <script src="{% static 'js/charts.js'          %}"></script>
    {% endblock extra_js %}

{% endblock body %}