{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
{#        <link rel="stylesheet" href="{% static 'css/keen-dashboards.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/threed.css' %}">
{% endblock extra_css %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>


{% endblock body%}

{% block extra_js %}
    <script src="{% static 'js/three.js' %}"></script>
    <script src="{% static 'js/threed.js' %}"></script>

{#        <script src="{% static 'js/ddsviewer.js'          %}"></script>#}
{% endblock extra_js %}